@import 'animations';
@import 'variaveis';

.cadastro {

    h2 {
        font-weight: $bold;
        margin-top: 20px;
    }

    h5 {
        color: rgb(168, 168, 168);
        margin-bottom: 80px;
    }

    h6 {
        color: $black;
        text-transform: $uppercase;
        font-weight: $bold;
    }

    .botao-login-tela-cadastro {
        margin-top: 10px;
        color: $gray;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    input {
        background-color: rgb(241, 241, 241);
        border: none;

        &::placeholder {
            color: rgb(185, 185, 185);
        }
    }

    .input-group-text {
        background-color: rgb(241, 241, 241);
        border: none;
        color: $gray;
    }

    .arrow-left {
        border: none;
        background-color: $white;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.login-form {

    input {
        background-color: rgb(241, 241, 241);
        border: none;

        &::placeholder {
            color: rgb(185, 185, 185);
        }
    }

    .input-group-text {
        background-color: rgb(241, 241, 241);
        border: none;
        color: $gray;
    }

    h2 {
        font-weight: 700;
        font-size: 2rem;
    }

    .form-control {
        font-size: 1.2rem;
        padding: 0.75rem;
    }

    .btn {
        padding: 0.75rem;
        font-size: 1.1rem;
    }

    .input-group-text {
        cursor: pointer;
    }

    .text-center {
        margin: 2rem 0;
    }

    .botao-cadastro-tela-login {
        margin-top: 10px;
        color: $gray;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.planos {
    .card-price {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card {
        margin-bottom: 30px;
        padding: 20px;
    }
}

.redes-sociais {

    width: 70%;

    input {
        background-color: rgb(241, 241, 241);
        border: none;

        &::placeholder {
            color: rgb(185, 185, 185);
        }
    }

    .input-group-text {
        background-color: rgb(241, 241, 241);
        border: none;
        color: $gray;
    }

    .icones {
        img {
            width: 8%;
        }
    }

    h2 {
        font-weight: $bold;
        margin-top: 70px;
        margin-bottom: 50px;
        text-align: $center;
    }

    .card {
        padding: 10px;

        .card-body {
            h6 {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }

}