@import 'animations';
@import 'variaveis';

.pagina-usuario {

    h2 {
        font-weight: $bold;
        color: $black;
    }

    h6 {
        color: $gray;
        font-weight: $bold;
    }

    .btn-bioohub {
        bottom: 20px;
        left: 20px;
        padding: 10px 20px;
        background-color: #9436ff;
        color: white;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }

    .btn-bioohub:hover {
        background-color: #4500b3;
    }

    .avatar-circle {
        width: 150px;
        /* Ajustado para manter proporção */
        height: 150px;
        border-radius: 50%;
        background-color: #f5f5f5;
        border: 2px dashed $gray;
        display: $flex;
        flex-direction: $column;
        justify-content: $center;
        align-items: $center;
        text-align: $center;
        cursor: $pointer;
        position: $relative;
        transition: .3s ease;

        i,
        p {
            position: absolute;
            /* Para que fiquem dentro do círculo */
            color: #6c757d;
        }

        p {
            bottom: 10px;
            /* Ajuste para a posição do texto */
            font-size: 14px;
            text-align: $center;
        }

        i {
            bottom: 35px;
            /* Ajuste para a posição do ícone */
            font-size: 24px;
        }

        .file-input {
            position: $absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            /* Esconde o input de file */
            cursor: $pointer;
            /* Garante que o cursor seja um pointer */
        }

        label {
            cursor: $pointer;
            /* Faz com que o clique no círculo também acione o input */
            width: 100%;
            height: 100%;
        }

        &:hover {
            background-color: #d1d1d1;
        }
    }

    .input-usuario {
        border: $none;
        height: 50px;
        width: 50%;

        &::placeholder {
            color: rgb(182, 182, 182);
            font-weight: $bold;
        }

        font-weight: $bold;
    }

    .input-bio {
        border: $none;
        width: 50%;
        font-weight: 100;

        &::placeholder {
            color: rgb(212, 212, 212);
        }
    }

    .link-card {
        background-color: #f8f9fa;
        border: 1px dashed $gray;
        border-radius: 8px;
        text-align: $center;
        cursor: $pointer;
        transition: .2s ease;
        position: $relative;

        .plus-icon {
            position: $absolute;
            top: 8px;
            right: 8px;
            /* Ajusta a posição para o canto superior direito */
            font-size: 16px;
            /* Tamanho do ícone plus */
        }

        .edit-icon {
            cursor: pointer; // Para indicar que é clicável
            z-index: 10; // Garante que fique acima de outros elementos
            border-radius: 20%; // Deixar arredondado
            padding: 5px; // Espaço ao redor do ícone
            transform: translate(50%, -50%); // Para centralizar o ícone em relação à borda do card
        }

        .delete-icon {
            cursor: pointer; // Para indicar que é clicável
            z-index: 10; // Garante que fique acima de outros elementos
            border-radius: 20%; // Deixar arredondado
            padding: 5px; // Espaço ao redor do ícone
            transform: translate(50%, -50%); // Para centralizar o ícone em relação à borda do card
        }


        // Apresentar o ícone de edição ao passar o mouse sobre a div pai
        .mt-3.d-flex.flex-column.align-items-center.position-relative:hover .edit-icon {
            opacity: 1; // Torna o ícone visível no hover
        }


        &:hover {
            background-color: #e0e0e0;
        }

        &.card-small {
            width: 140px;
            height: 180px;

            i {
                color: #ff8800;
            }
        }

        &.card-small2 {
            width: 160px;
            height: 190px;

            i {
                color: #000536;
            }
        }

        &.card-vertical {
            width: 120px;
            height: 220px;

            i {
                color: #3900be;
            }
        }

        &.card-vertical2 {
            width: 120px;
            height: 230px;

            i {
                color: #be0000;
            }
        }

        &.card-horizontal {
            width: 200px;
            height: 250px;

            i {
                color: #008f2b;
            }
        }

        &.card-large-square {
            width: 300px;
            height: 360px;

            i {
                color: purple;
            }
        }

        p {
            margin-top: 8px;
            font-size: 14px;
            font-weight: $bold;
        }
    }

    .btn-logout {
        position: $absolute;
        top: 20px;
        right: 20px;
        background-color: $azul-roxo;
        color: $white;
        border: $none;
        border-radius: 5px;
        padding: 10px 15px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #7802ff;
        }
    }
}

.btn-visualizar-perfil,
.btn-configuracoes {
    background-color: none;
    border: none;
    color: gray;
}