//cores
$black: black;
$white: white;
$gray: rgb(139, 139, 139);
$azul_roxo: rgb(157, 130, 255);

//positions
$center: center;
$block: block;
$column: column;
$flex: flex;
$relative: relative;

//text
$bold: bold;
$uppercase: uppercase;

//others
$auto: auto;
$none: none;